<p><strong>Director:</strong><br>
<a href="https://liberalarts.temple.edu/academics/faculty/goedde-petra">Petra Goedde, Ph.D., Associate Professor of History</a><br>
1008 Gladfelter Hall<br>
<a href="mailto:pgoedde@temple.edu">pgoedde@temple.edu</a></p>
<hr>
<p><strong>Assistant Director:</strong><br>
Kaete O’Connell, PhD Candidate, History</a><br>
1007C Gladfelter Hall<br>
<a href="mailto:kaete.oconnell@temple.edu">kaete.oconnell@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Yvonne Muchemi<br>
1008A Gladfelter Hall<br>
<a href="tel:2152049209">(215) 204-9209</a><br>
<a href="mailto:ymuchemi@temple.edu">ymuchemi@temple.edu</a></p>
<hr>
<p><strong>Web Assistant:</strong><br>
Christopher Phillips<br>
<a href="mailto:phillips@temple.edu">phillips@temple.edu</a></p>
